{% extends 'layout.html' %}

{% block title %}Custom Map{%endblock%}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
</link>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
</link>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
{%endblock%}

{%block content%}
{{block.super}}

<div id="map"></div>

<div>
    <br>
    <form>
        <div class="row">
            <div class="col-4">
                <label for="NClusters">Número de clusters</label>
                <div class="form-group">
                    <input type="text" id="NClusters" name="NClusters" value=3>
                </div>
            </div>
            <div class="col-4">
                <label for="NIteraciones">Número de iteraciones</label>
                <div class="form-group">
                    <input type="text" id="NIteraciones" name="NIteraciones" value=300>
                </div>
            </div>
            <div class="col-4">
                <label for="Tolerancia">Tolerancia</label>
                <div class="form-group">
                    <input type="text" id="Tolerancia" name="Tolerancia" value=0.0001>
                </div>
            </div>
        </div>
        <br>
        <input class="btn btn-info" type="button" value="Entrenar" onclick="entrenar()">
    </form>
</div>

<script>
    var map = L.map('map').setView([35.910938, -115.216288], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 7,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    //var markers = L.markerClusterGroup();

    function addMarker(Y, X) {
        L.circle([Y, X], { radius: 20, color: 'red' }).addTo(map);
    }

    function entrenar() {
        var NClusters = document.getElementById("NClusters");
        var Tolerancia = document.getElementById("Tolerancia");
        var NIteraciones = document.getElementById("NIteraciones");
        var redirecForm = "/crearClusters/" + NClusters.value + "/" + NIteraciones.value + "/" + Tolerancia.value;
        if (NClusters.value > 10) {
            alert("No puedes agregar mas de 10 clusters")
        }
        else {
            console.log(redirecForm);
            window.location.href = redirecForm;
        }
    }

    {% for x in item %}
    addMarker({{ x.Latitud }}, {{ x.Longitud }});
    {% endfor %}

    //map.addLayer(markers);

</script>

{%endblock%}