{% extends 'layout.html' %}

{% block title %}Mapa Poblaciones{%endblock%}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"></link>
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"></link>
   <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
{%endblock%}

{%block content%}
{{block.super}}

<div id="map"></div>

<div>
    <br>
    <p>Tip:</p>
    <p>Que la longitud este entre 33.797417 y 37.809476</p> 
    <p>Y que la latitud entre -118.370229 y -112.936389</p>
    <form class="form-inline">
        <label>Longitud</label>
        <div class="form-group">
            <label for="RLongitudMin">Min</label>
            <input type="text" id="RLongitudMin" name="RLongitudMin" value="33">
            <label for="RLongitudMax">Max</label>
            <input type="text" id="RLongitudMax" name="RLongitudMax" value="37">
        </div>
        <br>
        <label>Latitud</label>
        <div class="form-group">
            <label for="RLatitudMin">Min</label>
            <input type="text" id="RLatitudMin" name="RLatitudMin" value=-118>
            <label for="RLatitudMax">Max</label>
            <input type="text" id="RLatitudMax" name="RLatitudMax" value=-112>
        </div>
        <br>
        <label for="NPuntos">Número de puntos</label>
        <div class="form-group">
            <input type="text" id="NPuntos" name="NPuntos" value=500>
        </div>
        <br>
        <label for="Dispersion">Dispersión</label>
        <div class="form-group">
            <input type="text" id="Dispersion" Dispersion="Dispersion" value=0.5>
        </div>
        <br>
        <input class="btn btn-info" type="button" value="Confirmar" onclick="crear()">
    </form>
</div>


<script>
    var map = L.map('map').setView([35.910938, -115.216288], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 7,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    //var markers = L.markerClusterGroup();

    function addMarker(Y, X) {
        L.circle([Y, X], {radius: 20, color: 'red'}).addTo(map);
    }

    function crear() {
        var RLongitudMin = document.getElementById("RLongitudMin");
        var RLongitudMax = document.getElementById("RLongitudMax");
        var RLatitudMin = document.getElementById("RLatitudMin");
        var RLatitudMax = document.getElementById("RLatitudMax");
        var NPuntos = document.getElementById("NPuntos");
        var Dispersion = document.getElementById("Dispersion");
        var redirecForm = "/agregarPoblacion/"+RLongitudMin.value+"/"+ RLongitudMax.value+"/"+RLatitudMin.value+"/"+RLatitudMax.value+"/"+NPuntos.value+"/"+Dispersion.value;
        console.log(redirecForm);
        window.location.href = redirecForm;
    }

    {% for x in item %}
        addMarker({{x.Latitud}},{{x.Longitud}});
    {% endfor %}

    //map.addLayer(markers);

</script>

{%endblock%}